lecture9/9.1_Mapping/output/results/microbial_WGS_multiqc_report_data/
lecture9/9.1_Mapping/conf/multiqc_config.yaml
lecture9/9.1_Mapping/output/alignment/stats/mosdepth/*bed*
lecture9/9.1_Mapping/output/alignment/stats/qualimap/css/
lecture9/9.1_Mapping/output/alignment/stats/qualimap/raw_data_qualimapReport/
lecture9/9.1_Mapping/output/alignment/stats/qualimap/images_qualimapReport/
lecture9/9.1_Mapping/output/alignment/SRR28714678_aln_sorted.bam/
lecture9/9.1_Mapping/output/alignment/markduplicates/*sorted_md.bam
lecture9/9.1_Mapping/output/alignment/markduplicates/*cleaned_md.bam
lecture9/9.1_Mapping/output/alignment/SRR28714678_aln_sorted.bam
lecture10/annotation_pathway/GO/gProfiler_H37Rv_results_gem.txt
lecture10/annotation_pathway/GO/taxon_1773_token.txt
lecture10/annotation_pathway/multiqc/
lecture10/annotation_pathway/quast/
lecture10/annotation_pathway/trimmed/
lecture10/annotation_pathway/unicycler/
lecture10/annotation_pathway/scripts/